menu "RobtoArm configuration"

	menu "I/O configuration"
	config PIN_LED
		int "LED gpio pin"
		default 23
		help
			LED pin
	
	config PIN_MOTOR_1	
		int "Motor 1 gpio pin"
		default 2
		help
			Motor 1 pin
			
	config PIN_MOTOR_2	
		int "Motor 2 gpio pin"
		default 4
		help
			Motor 2 pin
			
	config PIN_MOTOR_3	
		int "Motor 3 gpio pin"
		default 21
		help
			Motor 3 pin
			
	config PIN_MOTOR_4	
		int "Motor 4 gpio pin"
		default 22
		help
			Motor 4 pin
			
	config PIN_MOTOR_5	
		int "Motor 5 gpio pin"
		default 18
		help
			Motor 5 pin
			
	config PIN_MOTOR_6	
		int "Motor 6 gpio pin"
		default 5
		help
			Motor 6 pin
	endmenu
	
	menu "WiFi configuration"
	config WIFI_SSID
		string "Wifi SSID"
		default "esp32-ap"
		help
			SSID for the Access Point Wifi network (max 31 chars)

	config WIFI_PASSWORD
		string "Wifi password"
		help
			Password for the Wifi network (if needed)
			
	config WIFI_CHANNEL
		int "wi-fi channel"
		default 6
		help
			wi-fi channel
			
	config AP_HIDE_SSID
            int "Hide SSID"
            default 0
            help
                    Hide SSID

    config AP_MAX_CONNECTIONS
            int "Maximum concurrent connections"
            range 1 4
            default 4
            help
                    Maximum number of concurrent connections (1-4)

    config AP_BEACON_INTERVAL
            int "Beacon interval (ms)"
            range 100 60000
            default 100
            help
                    Beacon interval in ms (100-60000)
	endmenu
endmenu