menu "WiFi configuration"

	choice ESP_WIFI_MODE
		prompt "AP or STA"
		default ESP_WIFI_IS_STATION
		help
			Whether the esp32 is softAP or station.
			
	config ESP_WIFI_IS_SOFTAP                                      
		bool "SoftAP"                                              
	config ESP_WIFI_IS_STATION                                     
		bool "Station"                                             
	endchoice
    
	config ESP_WIFI_MODE_AP
		bool
		default y if ESP_WIFI_IS_SOFTAP                            
		default n if ESP_WIFI_IS_STATION 

	config WIFI_SSID
		string "Wifi SSID"
		default "esp32-ap"
		help
			SSID for the Access Point Wifi network (max 31 chars)

	config WIFI_PASSWORD
		string "Wifi password"
		help
			Password for the Wifi network (if needed)

	config WIFI_CHANNEL
	int "Wifi channel"
		default 0
		help
			Channel for the Wifi network
	
	choice
		prompt "Authentication mode"
		default WIFI_AUTH_WPA2_PSK
		help
			Authentication mode for the Wifi network
		config WIFI_AUTH_OPEN
			bool "Open"
		config WIFI_AUTH_WEP
			bool "WEP"
		config WIFI_AUTH_WPA_PSK
			bool "WPA-PSK"
		config WIFI_AUTH_WPA2_PSK
			bool "WPA2-PSK"
		config WIFI_AUTH_WPA_WPA2_PSK
			bool "WPA-PSK or WPA2-PSK"
		config WIFI_AUTH_WPA2_ENTERPRISE
			bool "WPA2 Enterprise"			
	endchoice
	
	config WIFI_HIDE_SSID
		bool "Hide SSID"
		default 0
		help
			Hide SSID
	
	config WIFI_MAX_CONNECTIONS
		int "Maximum concurrent connections"
		range 1 4
		default 4
		help
			Maximum number of concurrent connections (1-4)
	
	config WIFI_BEACON_INTERVAL	
		int "Beacon interval (ms)"
		range 100 60000
		default 100
		help
			Beacon interval in ms (100-60000)
			
endmenu
menu "IMU Configure"
	choice
		prompt "IMU type"
		default IMU_MPU6050
		config IMU_MPU6050
			bool "MPU6050"
		config IMU_MPU9250
			bool "MPU9250"
	endchoice
endmenu